.container-quizz {
    /* Glassmorphism */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    padding: 2rem;
    position: relative;
    width: 80vw;
}

.quizz-playing {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.quizz-playing-answer {
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    margin: 0.5rem;
    padding: 8px 0;
    text-align: center;
    transition-duration: 200ms;
    width: 70%;
}

.quizz-playing-answer:hover {
    font-size: 24px;
    transform: scale(1.1);
}

.quizz-playing-counter {
    position: absolute;
    color: green;
    right: 2rem;
    top: 2rem;
}

.quizz-playing-title {
    font-size: 28px;
    margin-bottom: 2rem;
}

.quizz-ending {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
}

.quizz-ending-button {
    background-color: rgba(0, 0, 255, 0.6);
    border: 1px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 1rem;
    transition-duration: 200ms;
    width: 70%;
}

.quizz-ending-button:hover {
    font-size: 24px;
    transform: scale(1.1);
}